{% extends 'base.html' %}

{% block content %}
  <h1>Detalhes da Análise de Defeitos</h1>
  <ul>
    <li>Pedido Nº:{{ pedido_analise.id }}</li>
    <li>Nome:{{ pedido_analise.nome_cliente }}</li>
    <li>Telefone:{{ pedido_analise.telefone }}</li>
    <li>E-mail:{{ pedido_analise.email }}</li>
    <li>CPF/CNPJ:{{ pedido_analise.cpf_cnpj }}</li>
    <li>NFe/CFe:{{ pedido_analise.doc_fiscal }}</li>
    <li>Data Entrada:{{ pedido_analise.data_entrada|date:'d/m/Y' }}</li>
    <li>Data/Resp:{{ pedido_analise.data_max_resp|date:'d/m/Y' }}</li>
    <li>Data Retorno:{{ pedido_analise.data_max_retorno|date:'d/m/Y' }}</li> 
  </ul>
  <div class="responsive-table">
    <table class="contacts-table">
        <caption class="table-caption">
          Produtos
        </caption>

  <a href="{% url 'analisedf:produto_analise' pk=pedido_analise.id %}">Cadastrar um Produto</a>
  <thead>
      <tr class="table-row table-row-header">
        <th class="table-header">Cod. Produto</th>
        <th class="table-header">Desc. Produto</th>
        <th class="table-header">Desc. Defeitos</th>
        <th class="table-header">Opções</th>
      </tr>
    </thead>

    <tbody>
      {% for produto in pedido_analise.produtoanalise_set.all %}
        <tr class="table-row">
          <td class="table-cel">{{ produto.codigo }}</td>
          <td class="table-cel">{{ produto.descricao }}</td>
          <td class="table-cel">{{ produto.descricao_df }}</td>
          <td class="table-cel"> <a href="{% url 'analisedf:produto_update' pk=produto.id %}">Editar</a>
          &nbsp;<a class="table-link" href="{% url 'analisedf:produto_detail' pk=produto.id %}">Visualizar</a></td>
        </tr>
        {% empty %}
        <tr>
          <td class="table-cel">
            <h6>Não foram encontrados produtos</h6>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
