{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  {% block page_title %}

  {% endblock %}

  <div class="container">
    <div class="jumbotron">
      <h1 class="display-2 text-center">Produto Analise</h1>
      <form id="ProdutoForm" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary btn-block">Salvar</button>
      </form>
      <p id="message" class="mt-3 text-center"></p>
    </div>
  </div>
{% endblock %}
