{% load static %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="{% static 'global/css/style.css' %}">
  </head>
  <body>
    <main class="content">
      {% block content %}{% endblock content %}
    </main>
  </body>
  <!--<ul class="nav nav-pills">
      {% if user.is_authenticated %}
        {# objeto user sempre está disponível nos templates #}
        <li class="nav-item">
          <a href="{% url 'logout' %}" class="nav-link px-2 link-dark">Sair</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a href="{% url 'signup' %}" class="nav-link px-2 link-dark">Cadastrar</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'login' %}" class="nav-link px-2 link-dark">Acessar</a>
        </li>
      {% endif %}
    </ul>
   </body> -->
   
  <footer>
    <div class="rodape">
      <p>
        Copyright <span>&#169;</span> 2024 Infoexpress Sistemas – Todos os direitos reservados.
      </p> <!-- © -->
    </div>
  </footer>
</html>
