{% extends 'base.html' %}

{% block content %}

<body>
  <header>
    <h1>Lançar Pedido Analise</h1>
  </header>
  <section>
  <form method="POST">
    {% csrf_token %}
  <div>
      <label>Filial</label>
      <input type="text" class="form-pd" placeholder="Digite o codigo da filial" name="filial" required autofocus />
  </div>
  <div>
    <label>Cliente</label>
    <input type="text" class="form-pd" placeholder="Digite o nome da(o) cliente" name="nome_cliente" required />
  </div>
  <div>
      <label>Telefone</label>
      <input type="text" class="form-pd" placeholder="Digite o numero de telefone" name="telefone" required />
  </div>
  <div>
      <label for="email" class="form-label">E-mail</label>
      <input type="email" class="form-control" placeholder="Digite o endereço de e-mail" name="email" required />
  </div>
  <div>
      <label for="cpf_cnpj" class="form-label">CPF/CNPJ</label>
      <input type="text"  placeholder="Digite o CPF/CNPJ do cliente" name="cpf_cnpj" required />
  </div>
  <div>
      <label>NFe/CFe</label>
      <input type="text" placeholder="Digite o Numero da NF/Cupom" name="doc_fiscal" required />
  </div>
      <button type="submit" class="btn btn-primary btn-block">Salvar</button>
  </form>
  </section>
    <p id="message"></p>
  </div>
  </div>
  </body>
{% endblock %}
